Repository 273Do/Thor-Monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-fix

lefthook.yml:

output:
  - execution
  - execution_out
  - execution_info
  - summary

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: task frontend:format
      stage_fixed: true

    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: task frontend:lint

    backend-format:
      glob: "*.py"
      run: task backend:format
      stage_fixed: true

    backend-fix:
      glob: "*.py"
      run: task backend:fix
      stage_fixed: true

pre-push:
  commands:
    all-checks:
      run: task pre-push

commit-msg:
  commands:
    message-check:
      run: |
        if ! grep -qE "^(feat|fix|refactor|chore): " {1}; then
          echo "ðŸ”¥ Commit message must start with: feat|fix|refactor|chore"
          exit 1
        fi

feat: 歩数抽出のクエリパラメータを組み立てる処理を実装
  frontend/app/utils/api.ts
  frontend/app/utils/types.ts
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

feat: デフォルトクエリパラメータを追加
  frontend/app/core/constants.ts
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

refactor: 定数をアッパースネークケースに変更
  frontend/app/components/survey-form.tsx
  frontend/app/core/constants.ts
  frontend/app/routes/home.tsx
  frontend/app/utils/api.ts
Due: frontend-format, frontend-lint

feat: loadingのパターンを実装
  frontend/app/components/loading.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

refactor: 軽微な変更
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

refactor: 軽微な変更
  frontend/app/routes/home.tsx
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

feat: 睡眠推定リクエスト処理を実装
  frontend/app/routes/home.tsx
  frontend/app/utils/api.ts
  frontend/app/utils/types.ts
  frontend/app/utils/use-estimate-sleep.ts
Due: frontend-format, frontend-lint

feat: 解析結果をもとにチャートを表示するよう実装
  frontend/app/components/result-view.tsx
  frontend/app/lib/time-functions.ts
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

refactor: propsの記述を統一
  frontend/app/components/file-upload.tsx
  frontend/app/components/loading.tsx
  frontend/app/components/result-view.tsx
  frontend/app/components/survey-form.tsx
Due: frontend-format, frontend-lint

refactor: コンポーネントをアロー関数に変更
  frontend/app/components/file-upload.tsx
  frontend/app/components/result-view.tsx
  frontend/app/components/survey-form.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: llmfeedbackのレスポンススキーマを変更
  backend/src/routers/llm_feedback.py
  backend/src/schemas/llm_feedback.py
Due: backend-format, backend-fix

feat: 歩数取得処理からidを抽出
  frontend/app/routes/home.tsx
  frontend/app/utils/use-estimate-sleep.ts
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

feat: llmフィードバックを取得する処理を追加
  frontend/app/utils/api.ts
  frontend/app/utils/types.ts
  frontend/app/utils/use-ai-feedback.ts
Due: frontend-format, frontend-lint

feat: フィードバックを表示
  frontend/app/components/ai-feedback.tsx
  frontend/app/components/loading.tsx
  frontend/app/components/result-view.tsx
Due: frontend-format, frontend-lint

feat: react markdownを導入
  frontend/app/app.css
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

feat: markdownを表示
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
  frontend/app/components/ai-feedback.tsx
Due: frontend-format, frontend-lint, backend-format, backend-fix

feat: AIフィードバックを再生する機能を実装
  frontend/app/components/ai-feedback.tsx
  frontend/app/components/result-view.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: readneを更新
  README.md
Due: none

feat: iphone以外の説明リンクを追加
  README.md
  frontend/app/components/file-upload.tsx
  frontend/app/core/constants.ts
Due: frontend-format, frontend-lint

feat: corsのoriginを環境変数に追加
  backend/.env.example
  backend/main.py
  backend/src/core/load_env.py
Due: backend-format, backend-fix

feat: i18nを追加
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

feat: LanguageDetectorを導入
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

feat: 言語切り替え機能を実装
  frontend/app/components/locale-switcher.tsx
  frontend/app/components/ui/dropdown-menu.tsx
  frontend/app/i18n.ts
  frontend/app/root.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: 言語辞書を追加
  frontend/app/core/constants.ts
  frontend/app/locales/translation-en.json
  frontend/app/locales/translation-ja.json
Due: frontend-format, frontend-lint

feat: 各コンポーネントにi18nを適応
  frontend/app/components/ai-feedback.tsx
  frontend/app/components/file-upload.tsx
  frontend/app/components/header.tsx
  frontend/app/components/loading.tsx
  frontend/app/components/locale-switcher.tsx
  frontend/app/components/result-view.tsx
  frontend/app/components/survey-form.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

chore: 環境変数をまとめた
  .env.example
  backend/.env.example
  docker-compose.yml
Due: none

chore: アプリ公開手順をreadmeに追加
  README.md
Due: none

chore: readmeを修正
  README.md
Due: none

feat: email入力エリアを実装
  frontend/app/components/result-view.tsx
  frontend/app/core/survey-schema.ts
  frontend/app/locales/translation-en.json
  frontend/app/locales/translation-ja.json
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: 分析受付画面を実装
  frontend/app/components/email-view.tsx
  frontend/app/locales/translation-en.json
  frontend/app/locales/translation-ja.json
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: シングルワーカーでfastapiを起動するように変更
  Taskfile.yml
Due: none

refactor: 歩数抽出のバリデーション処理と睡眠推定処理を別ファイルに分ける
  backend/src/routers/estimate_sleep.py
  backend/src/routers/extract_steps.py
  backend/src/schemas/extract_steps.py
  backend/src/usecases/estimate_sleep/run_estimate_sleep_usecase.py
Due: backend-format, backend-fix

feat: email経由の解析処理のルートを実装
  backend/main.py
  backend/src/routers/via_email.py
  backend/src/schemas/via_email.py
  backend/src/usecases/via_email/__init__.py
Due: backend-format, backend-fix

fix: feedbackが存在しないときに代わりのメッセージを挿入
  backend/src/core/constants.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

feat: emailのバリデーションとファイル受信に必要なパッケージをインストール
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: vscodeの設定を一部修正
  .vscode/settings.json
Due: frontend-format

refactor: email経由の解析処理リクエストのスキーマをリファクタ
  backend/src/routers/via_email.py
  backend/src/schemas/via_email.py
Due: backend-format, backend-fix

feat: fast-mailを導入
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: メール送信処理を実装
  backend/.env.example
  backend/src/core/load_env.py
  backend/src/usecases/via_email/send_email_usecase.py
Due: backend-format, backend-fix

chore: readmeを更新
  README.md
Due: none
