Repository 273Do/Thor-Monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-fix

lefthook.yml:

output:
  - execution
  - execution_out
  - execution_info
  - summary

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: task frontend:format
      stage_fixed: true

    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: task frontend:lint

    backend-format:
      glob: "*.py"
      run: task backend:format
      stage_fixed: true

    backend-fix:
      glob: "*.py"
      run: task backend:fix
      stage_fixed: true

pre-push:
  commands:
    all-checks:
      run: task pre-push

commit-msg:
  commands:
    message-check:
      run: |
        if ! grep -qE "^(feat|fix|refactor|chore): " {1}; then
          echo "ðŸ”¥ Commit message must start with: feat|fix|refactor|chore"
          exit 1
        fi

feat: 歩数抽出ようのルートを実装
  backend/main.py
  backend/src/routers/__init__.py
  backend/src/routers/extract_steps.py
  backend/src/schemas/steps.py
Due: backend-format, backend-fix

feat: __pycache__を生成しないよう追記
  backend/Dockerfile
Due: none

feat: 環境変数管理の場所を変更
  backend/main.py
  backend/src/core/__init__.py
  backend/src/core/load_env.py
Due: backend-format, backend-fix

feat: xmlファイルを受け取るリクエストメソッドを実装
  backend/src/routers/extract_steps.py
  backend/src/schemas/__init__.py
  backend/src/schemas/steps.py
  backend/src/usecases/__init__.py
  backend/src/usecases/extract_steps_from_applehealthcare.py
Due: backend-format, backend-fix

chore: claude.mdを追加
  CLAUDE.md
Due: none

feat: 歩数抽出ようのapiにてクエリパラメータで範囲を、リクエストボディでxmlを受け付けるよう実装
  backend/src/routers/extract_steps.py
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/__init__.py
Due: backend-format, backend-fix

feat: applehelathdataで抽出するよう実装
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: readmeを更新
  README.md
Due: none

feat: pythonの型チェックを有効化
  .vscode/settings.json
  Taskfile.yml
  backend/Dockerfile
Due: frontend-format

refactor: applehealthdataに型を追加
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

refactor: 変数名を適切なものにリファクタ
  backend/src/routers/extract_steps.py
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: python-dateutilを導入
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: データ抽出に範囲を指定できるよう実装
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: 抽出するデータ項目を絞り込みする処理を追加
  backend/src/core/constants.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
Due: backend-format, backend-fix

feat: 記録された睡眠データを含めるかどうかを指定できるよう実装
  backend/src/core/load_env.py
  backend/src/routers/extract_steps.py
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: 渡されたデータから識別用の一意なidを生成するよう実装
  backend/src/routers/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: 識別idにソルトを追加し16桁のidに変更
  backend/.env.example
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
Due: backend-format, backend-fix

refactor: 環境変数の呼び出しと設定を変更
  backend/main.py
  backend/src/core/load_env.py
Due: backend-format, backend-fix

chore: issueのテンプレートを追加
  .github/ISSUE_TEMPLATE/default_issue.md
Due: none

feat: 抽出結果をapiとして返すよう実装
  backend/src/routers/extract_steps.py
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

refactor: stepとsleepのスキーマを作成して適応
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: デバッグ時にのみデータを保存するよう実装
  backend/.env.example
  backend/src/core/constants.py
  backend/src/core/load_env.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

fix: コメントを修正
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: panderaを追加
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: panderaでdfのバリデーションを追加
  backend/.env.example
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

chore: prテンプレートを追加
  .github/pull_request_template.md
Due: none

chore: prテンプレートを追加
  .github/PULL_REQUEST_TEMPLATE/default_pr.md
Due: none

fix: taskfileを修正
  Taskfile.yml
Due: none

fix: readmeを修正
  README.md
Due: none

feat: github actionsを追加
  .github/workflows/ci.yml
Due: none

fix: ciのフロントのタイプチェックを変更
  .github/workflows/ci.yml
Due: none

feat: 睡眠推定用のルートを実装
  backend/main.py
  backend/src/routers/estimate_sleep.py
  backend/src/schemas/estimate_sleep.py
Due: backend-format, backend-fix

chore: lefthookを修正
  lefthook.yml
Due: none

refactor: 一部の変数がキャメルケースになっているのをスネークケースにリファクタ
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: scikit-learnを追加
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor: list型を修正
  backend/src/schemas/extract_steps.py
  backend/src/usecases/extract_steps/applehealthdata_usecase.py
  backend/src/usecases/extract_steps/extract_steps_usecase.py
Due: backend-format, backend-fix

feat: 歩数抽出のスキーマの説明を追加
  backend/src/schemas/extract_steps.py
Due: backend-format, backend-fix

feat: 歩数クラスタリングのスキーマを追加
  backend/src/schemas/estimate_sleep.py
Due: backend-format, backend-fix

feat: 睡眠推定用のdfスキーマを作成
  backend/src/schemas/estimate_sleep.py
Due: backend-format, backend-fix
