Repository 273Do/Thor-Monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-fix

frontend-format:
  run: task frontend:format
  stage_fixed: true

frontend-lint:
  run: task frontend:lint

backend-format:
  run: task backend:format
  stage_fixed: true

backend-fix:
  run: task backend:fix
  stage_fixed: true

feat: コメントを追加
  backend/src/routers/estimate_sleep.py
Due: backend-format, backend-fix

feat: llmフィードバックのリクエストを受け付けるよう実装
  backend/main.py
  backend/src/routers/estimate_sleep.py
  backend/src/routers/llm_feedback.py
  backend/src/schemas/llm_feedback.py
Due: backend-format, backend-fix

feat: llmフィードバックのリクエストに言語選択を追加
  backend/src/routers/llm_feedback.py
  backend/src/schemas/llm_feedback.py
Due: backend-format, backend-fix

feat: llmフィードバックのリクエストに言語選択を追加
  backend/src/routers/llm_feedback.py
Due: backend-format, backend-fix

fix: 定数の説明が間違っている問題を修正
  backend/src/core/constants.py
Due: backend-format, backend-fix

feat: openai api を導入
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: ollamaのエンドポイントを環境変数に追加
  backend/.env.example
  backend/src/core/load_env.py
Due: backend-format, backend-fix

feat: openai api準拠でollamaからフィードバックを取得するよう実装
  backend/src/routers/llm_feedback.py
  backend/src/usecases/estimate_sleep/save_data_to_storage_usecase.py
  backend/src/usecases/llm_feedback/__init__.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

feat: 言語に応じたシステムプロンプトを読み込むよう実装
  backend/src/routers/llm_feedback.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

feat: 歩数クラスターデータをjsonとして保存するよう実装
  backend/src/core/constants.py
  backend/src/routers/estimate_sleep.py
Due: backend-format, backend-fix

feat: llmフィードバックに使用するデータに歩数クラスターデータを追加
  backend/src/routers/llm_feedback.py
  backend/src/usecases/estimate_sleep/save_data_to_storage_usecase.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

feat: フィードバックに使用するllmの設定を追加
  ollama/Modelfile.gemma3
  ollama/Modelfile.llama3
Due: none

feat: llmの設定から自動でモデルを読み込むようスクリプトを実装
  README.md
  ollama/setup.sh
Due: none

feat: readmeを更新
  README.md
Due: none

feat: モデル読み込み時にjsonファイルでモデルリストを展開
  ollama/.gitignore
  ollama/setup.sh
Due: none

feat: 存在するモデル名を全てjsonに出力するように実装
  ollama/setup.sh
Due: none

feat: モデルリストを展開場所をdatastoreに変更
  backend/.gitignore
  ollama/.gitignore
  ollama/setup.sh
Due: none

feat: 睡眠推定レスポンスにllmリストを返すよう追加
  backend/src/routers/estimate_sleep.py
  backend/src/schemas/estimate_sleep.py
  backend/src/usecases/estimate_sleep/save_data_to_storage_usecase.py
Due: backend-format, backend-fix

feat: 使用するLLMをリクエストに含めるよう実装
  backend/src/routers/llm_feedback.py
  backend/src/schemas/llm_feedback.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

feat: tailwindcssのフォーマットを自動でするよう変更
  .vscode/settings.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

feat: shadcnuiを導入
  frontend/app/app.css
  frontend/app/lib/utils.ts
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format, frontend-lint

feat: パフォーマンス改善のためssrを無効化
  frontend/react-router.config.ts
Due: frontend-format, frontend-lint

feat: 不要なファイルを削除
  frontend/app/welcome/logo-dark.svg
  frontend/app/welcome/logo-light.svg
  frontend/app/welcome/welcome.tsx
Due: frontend-format, frontend-lint

feat: reaft router fwからreactへ移行
  frontend/README.md
  frontend/app/main.tsx
  frontend/app/root.tsx
  frontend/app/routes.ts
  frontend/app/routes/home.tsx
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/react-router.config.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

feat: v0で生成したuiを移植
  frontend/app/components/ui/button.tsx
  frontend/app/components/ui/card.tsx
  frontend/app/components/ui/chart.tsx
  frontend/app/components/ui/label.tsx
  frontend/app/components/ui/select.tsx
  frontend/app/components/ui/separator.tsx
  frontend/app/routes/home.tsx
  frontend/components/file-upload.tsx
  frontend/components/result-view.tsx
  frontend/components/survey-form.tsx
  frontend/eslint.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format, frontend-lint

feat: フロントエンドコンテナにメモリを割り当て
  docker-compose.yml
Due: none

chore: 開発環境モードの時にメモリを指定するよう追加
  frontend/package.json
Due: frontend-format

refactor: コンポーネントの格納場所を変更
  frontend/app/components/file-upload.tsx
  frontend/app/components/header.tsx
  frontend/app/components/result-view.tsx
  frontend/app/components/survey-form.tsx
Due: frontend-format, frontend-lint

feat: 一部をコンポーネント化
  frontend/app/components/loading.tsx
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: 適切なフォーム内容に変更
  frontend/app/components/file-upload.tsx
  frontend/app/components/survey-form.tsx
  frontend/app/components/ui/input.tsx
  frontend/app/core/constants.ts
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

fix: 細かい修正
  frontend/app/components/file-upload.tsx
  frontend/app/components/result-view.tsx
Due: frontend-format, frontend-lint

chore: アプリが落ちないよう設定を追加
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

fix: pnpm-storeを監視から外すことで重たい問題を修正
  docker-compose.yml
  frontend/.dockerignore
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

feat: react hook formとzodを導入
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

feat: フォームを実装
  frontend/app/components/result-view.tsx
  frontend/app/components/survey-form.tsx
  frontend/app/core/survey-schema.ts
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

feat: swrを導入
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format

feat: ヘルスデータから歩数を抽出リクエストを実装
  frontend/.env.example
  frontend/app/core/constants.ts
  frontend/app/routes/home.tsx
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

feat: 歩数に関する型を実装
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

feat: バックエンドにcors設定を追加
  backend/main.py
Due: backend-format, backend-fix

feat: 歩数抽出のリクエストの処理に型を追加
  frontend/app/utils/use-extract-steps.ts
Due: frontend-format, frontend-lint

Path conditions:
  frontend-format: any of: *.{ts,tsx,js,jsx,json,css}
  frontend-lint: any of: *.{ts,tsx,js,jsx}
  backend-format: any of: *.py
  backend-fix: any of: *.py
