Repository 273Do/Thor-Monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-format, frontend-lint, backend-format, backend-fix

lefthook.yml:

output:
  - execution
  - execution_out
  - execution_info
  - summary

pre-commit:
  parallel: true
  commands:
    frontend-format:
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: task frontend:format
      stage_fixed: true

    frontend-lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: task frontend:lint

    backend-format:
      glob: "*.py"
      run: task backend:format
      stage_fixed: true

    backend-fix:
      glob: "*.py"
      run: task backend:fix
      stage_fixed: true

pre-push:
  commands:
    all-checks:
      run: task pre-push

commit-msg:
  commands:
    message-check:
      run: |
        if ! grep -qE "^(feat|fix|refactor|chore): " {1}; then
          echo "ðŸ”¥ Commit message must start with: feat|fix|refactor|chore"
          exit 1
        fi

feat: メールに表示するフィードバックをmarkdownに対応
  backend/pyproject.toml
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
  backend/src/usecases/via_email/send_email_usecase.py
  backend/templates/email.html
  backend/templates/style.css
  backend/uv.lock
Due: frontend-format, backend-format, backend-fix

refactor: via_emailをリファクタ
  backend/src/routers/via_email.py
Due: backend-format, backend-fix

feat: ブラウザからemail経由の解析をリクエストできるよう実装
  frontend/app/components/ai-feedback.tsx
  frontend/app/routes/home.tsx
  frontend/app/utils/api.ts
  frontend/app/utils/types.ts
  frontend/app/utils/use-extract-steps.ts
  frontend/app/utils/use-via-email.ts
Due: frontend-format, frontend-lint

chore: CLUADE.mdを更新
  CLAUDE.md
Due: none

feat: llmに渡す睡眠推定データのフォーマッタを実装
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

chore: error lensの設定を変更
  .vscode/settings.json
Due: frontend-format

feat: 短縮プロンプトを作成
  backend/datastore/prompts/prompt-en.md
  backend/datastore/prompts/prompt-ja.md
Due: none

feat: 専門的なプロンプトを返すかどうかのフラグを追加
  backend/src/routers/llm_feedback.py
  backend/src/routers/via_email.py
  backend/src/schemas/llm_feedback.py
  backend/src/schemas/via_email.py
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

fix: docstringを修正
  backend/src/usecases/llm_feedback/get_feedback_usecase.py
Due: backend-format, backend-fix

fix: is_specializedのスキーマ説明を修正
  backend/src/schemas/llm_feedback.py
  backend/src/schemas/via_email.py
Due: backend-format, backend-fix

feat: 専門的なプロンプトを作成
  backend/datastore/prompts/specialized-prompt-en.md
  backend/datastore/prompts/specialized-prompt-ja.md
Due: none

feat: 夜更かしかどうかによってフィードバック内容が変化するよう通常プロンプトを改善
  backend/datastore/prompts/prompt-en.md
  backend/datastore/prompts/prompt-ja.md
Due: none

feat: 夜更かしかどうかによってフィードバック内容が変化するよう専門的なプロンプトを改善
  backend/datastore/prompts/specialized-prompt-en.md
  backend/datastore/prompts/specialized-prompt-ja.md
Due: none

refactor: アプリ用モデルのプレフィックスを環境変数に追加
  .env.example
  ollama/setup.sh
Due: none

feat: フィードバックに使用するモデルとパラメータを刷新
  README.md
  ollama/Modelfile.gemma3
  ollama/Modelfile.gemma3-12b
  ollama/Modelfile.llama3
  ollama/Modelfile.llama3-3-70b
  ollama/Modelfile.qwen3-14b
  ollama/Modelfile.qwen3-5-122b
Due: none

fix: アプリ専用モデルのみ記録するよう修正
  ollama/setup.sh
Due: none

refactor: via-emailのスキーマなどをリファクタ
  backend/src/routers/via_email.py
  backend/src/schemas/llm_feedback.py
  backend/src/schemas/via_email.py
Due: backend-format, backend-fix

chore: envファイルの例にて一部間違っていた箇所を修正
  backend/.env.example
Due: none

feat: メールのテンプレートに英語版を追加
  backend/templates/email-en.html
  backend/templates/email-ja.html
Due: none

feat: メールのテンプレートがi18nに対応するよう実装
  backend/src/routers/via_email.py
  backend/src/usecases/via_email/send_email_usecase.py
Due: backend-format, backend-fix

refactor: テンプレートファイル名を修正
  backend/src/usecases/via_email/send_email_usecase.py
  backend/templates/email_en.html
  backend/templates/email_ja.html
Due: backend-format, backend-fix

feat: プロンプトに文章を優先する記述を追加
  backend/datastore/prompts/prompt-en.md
  backend/datastore/prompts/prompt-ja.md
  backend/datastore/prompts/specialized-prompt-en.md
  backend/datastore/prompts/specialized-prompt-ja.md
Due: none

feat: 使用するllmを選定して決定
  ollama/Modelfile.gemma3-12b
  ollama/Modelfile.gemma3-27b
  ollama/Modelfile.llama3-3-70b
  ollama/Modelfile.mistral-small3-1-24b
  ollama/Modelfile.qwen3-14b
Due: none

feat: readmeのモデル記述を更新
  README.md
Due: none

chore: readmeを更新
  README.md
Due: none

fix: 専門的なプロンプトの内容と軸を睡眠異常を主とするよう修正
  backend/datastore/prompts/specialized-prompt-en.md
  backend/datastore/prompts/specialized-prompt-ja.md
Due: none

fix: 簡易的なプロンプトの内容と軸を睡眠異常を主とするよう修正
  backend/datastore/prompts/prompt-en.md
  backend/datastore/prompts/prompt-ja.md
Due: none

fix: readmeを修正
  README.md
Due: none

feat: プロンプトに前提条件を追加
  backend/datastore/prompts/specialized-prompt-en.md
  backend/datastore/prompts/specialized-prompt-ja.md
Due: none

feat: llmフィードバックにてfbタイプを設定
  frontend/app/components/ai-feedback.tsx
  frontend/app/utils/types.ts
Due: frontend-format, frontend-lint

refactor: 軽微なリファクタ
  frontend/app/components/ai-feedback.tsx
  frontend/app/routes/home.tsx
  ollama/Modelfile.gemma3-12b
Due: frontend-format, frontend-lint

feat: プライバシー項目を追記
  frontend/app/components/file-upload.tsx
  frontend/app/locales/translation-en.json
  frontend/app/locales/translation-ja.json
  frontend/app/routes/home.tsx
Due: frontend-format, frontend-lint

fix: 表示文を修正
  frontend/app/locales/translation-en.json
  frontend/app/locales/translation-ja.json
Due: frontend-format

feat: フロントの型を修正
  frontend/app/routes/home.tsx
  frontend/app/utils/types.ts
Due: frontend-format, frontend-lint

fix: email経由の解析のリクエスト型を修正
  backend/src/routers/via_email.py
  backend/src/schemas/llm_feedback.py
Due: backend-format, backend-fix

chore: update readme
  CLAUDE.md
Due: none

feat: モバイルダミーデータを分割するスクリプトを追加
  Taskfile.yml
  backend/scripts/split_synthetic_dump.py
Due: backend-format, backend-fix

feat: claude create-pr スキルを追加
  .claude/create-pr/SKILL.md
  .claude/create-pr/collect-branch-info.sh
Due: none

feat: モバイル端末からレスポンスを受け取り、データを正規化する処理を追加
  backend/main.py
  backend/src/routers/mobile_feedback.py
  backend/src/schemas/mobile_feedback.py
  backend/src/usecases/mobile_feedback/__init__.py
  backend/src/usecases/mobile_feedback/normalize_sleep_records_usecase.py
Due: backend-format, backend-fix

feat: claude create-pr スキルを追加
  .claude/skills/create-pr/SKILL.md
  .claude/skills/create-pr/collect-branch-info.sh
Due: none
